#darkModeImg {
    height: 32px;
    width: 32px
}

body.darkMode {
    background-color: rgb(63, 63, 63) !important;
    color: white !important;
}

.text-shadow.darkMode {
    text-shadow: 1.3px 1.3px #818181 !important;
}