.col-sm {
  max-height: 80% !important;
}

.col-sm.vert {
  max-height: 60% !important;
}

body {
  transition: background 0.4s cubic-bezier(.86,0,.07,1), color 0.4s cubic-bezier(.86,0,.07,1);
}

nav {
  transition: background 0.4s cubic-bezier(.86,0,.07,1), color 0.4s cubic-bezier(.86,0,.07,1);
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}