#darkModeImg {
    height: 32px;
    width: 32px
}

body.darkMode {
    background-color: rgb(63, 63, 63);
    color: white;
}

.text-shadow.darkMode {
    text-shadow: 1.3px 1.3px #818181 !important;
}

.container-fluid {
    padding: 0px !important;
}

.row {
    padding-left: 15px !important;
    padding-right: 15px !important;
}